<h3>Filter</h3>
<form class="d-flex" novalidate ng-submit="showProductsPage()">
  <div class="input-group">
    <span class="input-group-text">Product title</span>
    <input class="form-control" type="text" ng-model="filter.title" id="filterTitle">

    <span class="input-group-text">Min price</span>
    <input class="form-control" type="number" ng-model="filter.min_price" id="filterMinPrice">

    <span class="input-group-text">Max price</span>
    <input class="form-control" type="number" ng-model="filter.max_price" id="filterMaxPrice">

    <button class="btn btn-primary" type="submit">Apply</button>
  </div>
<!--  <div class="form-group">-->
<!--    <div class="form-group">-->
<!--      <label for="filterTitle">Product title</label>-->
<!--      <input class="form-control" type="text" ng-model="filter.title" id="filterTitle">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="filterMinPrice">Min price</label>-->
<!--      <input class="form-control" type="number" ng-model="filter.min_price" id="filterMinPrice">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="filterMaxPrice">Max price</label>-->
<!--      <input class="form-control" type="number" ng-model="filter.max_price" id="filterMaxPrice">-->
<!--    </div>-->
<!--    <div class="form-group justify-content-end">-->
<!--      <button class="btn btn-primary" type="submit">Apply</button>-->
<!--    </div>-->
<!--  </div>-->
</form>

<h3>List of goods</h3>
<table class="table table-hover">
  <thead>
  <tr>
    <td>Title</td>
    <td>Price</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="p in productsPage.content">
    <td>{{p.title}}</td>
    <td>{{p.price}}</td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li ng-class="productsPage.first ? 'page-item disabled' : 'page-item'">
      <a class="page-link" ng-click="showProductsPage(productsPage.number)">Next</a>
    </li>

    <li ng-class="productsPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'"
        ng-repeat="pageIndex in PaginationArray">
      <a class="page-link" ng-click="showProductsPage(pageIndex)">{{pageIndex}}</a>
    </li>

    <li ng-class="productsPage.last ? 'page-item disabled' : 'page-item'">
      <a class="page-link" ng-click="showProductsPage(productsPage.number + 2)">След.</a>
    </li>
  </ul>
</nav>